/*NAVIGATION */

.topnav {
  overflow: hidden;
  background-color: none;
}

.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: none;
  color: #bababa;
}

.topnav a.active {
  color: #4166f5;
}

/*END NAVIGATION */

/*BODY*/
body {
  font-family: Hepta Slab, sans-serif;
  font-weight: 500;
  background-color: #181926;
  color: #ffffff;
}
* {
  box-sizing: content-box;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*END BODY */

.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 98vw;
  perspective: 1px;
  transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
}

.img-wrapper:hover {
 min-height: 65vh;
}

.frontimg :hover {z-index:9999;}


header {
  bottom: 1rem;
}
.scroll-info {
  top: 1rem;
}
a {
  color: inherit;
  font-weight: 500;
  
}
h1 {
  font-weight: 300;
  font-size: 1rem;
}

}
a:hover img {
  filter: none;
}
p {
  margin: 0;
}
.scroll-info {
  display: flex;
  align-items: center;
}
