.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: right;
  color: #bababa;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: none;
  color: #000000;
}

.topnav a.active {
  color: #4166f5;
}

body {
  font-family: Hepta Slab, sans-serif;
  font-weight: 500;
  background: #ffffff;
}
* {
  box-sizing: content-box;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.frontimg :hover {z-index:9999;}

.scroll-info, header {
  position: absolute;
  left: 1rem;
}


header {
  bottom: 1rem;
}
.scroll-info {
  top: 1rem;
}
a {
  color: inherit;
  font-weight: 500;
  
}
h1 {
  font-weight: 500;
  font-size: 80pt;
  color: #000000; 
  text-shadow: 4px 4px 0px #ffffff;
  margin-bottom: 13%;

}

h2 {
  font-weight: 300;
  font-size: 13pt;
  color: #bababa;
  transform: rotate(-90deg);
  position: absolute;
  top: 59%;
  right:26.5%;
}

h3 {
  font-weight: 500;
  font-size: 55pt;
  color: #000000; 
  text-shadow: 4px 4px 0px #ffffff;
  position: absolute;
  bottom: 3%;
  right: 1%;
}

h4 {
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.4;
  color: #000000;
}

.yearbox {
  top: 23%;
  left: 22%;
  width: 320px;
  height:50px;
  position: absolute;
  margin: 0;
}

.scroll-info {
  display: flex;
  align-items: center;
}

.item-a {
  width: 330px;
  height:400px;
  top: 16%;
  left: 40%;
  z-index: -1;
  position: absolute;
  background-color: #ff4d4d;
}

.item-b {
  width: 330px;
  height: 131px;
  position: absolute;
  z-index: -1;
  background-color: #8cd1cf;
  margin: 0;
  top: 80%;
  right: 0%;
}

.item-c {
  top: 11%;
  left: 30%;
  z-index: 1;
  position: absolute;

}

.next-hover {
  display: block;
  text-decoration: none;
  width: 330px;
  height: 131px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.next-img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.next-hover:hover .next-img {
  transform: translateX(0);
  opacity: 1;
}


/* underline left to right 

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(67, 150, 132);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}
*/